{% assign ss = section.settings %}
{% assign collections = ss.collectionList %}
{% assign products = ss.productList %}

<section
  id="{{ss.sectionId}}"
  class="walkin-pets"
  style="padding: {{ ss.paddingTop }}px 4% {{ ss.paddingBottom }}px 4%;"
>
  {% if ss.title != blank %}
    <h{{ ss.heading_tag }} class="walkin-pets__title h{{ ss.title_size }}">
      {{- ss.title | newline_to_br -}}
    </h{{ ss.heading_tag }}>
  {% endif %}

  <div class="walkin-pets__overviewSection">
    {% if ss.overview != blank %}
      <p class="walkin-pets__overview">{{ ss.overview }}</p>
    {% endif %}

    {% if ss.buttonText != blank %}
      <a class="walkin-pets__button" href="{{ ss.buttonLink }}">
        {{- ss.buttonText -}}
        <i class="fa-solid fa-arrow-right walkin-pets__button-arrow"></i
      ></a>
    {% endif %}
  </div>

  <div class="walkin-pets__slide-container">
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for collection in collections %}
            <li class="glide__slide">
              <a href="{{ collection.url }}">
                <div class="glide__image-container">
                    <img
                      class="glide__slide-image"
                      src="{{ collection.featured_image | img_url: 'master' }}"
                      alt="Collection featured image">
                    </img>
                    <a class="glide__slide-button" href="{{ collection.url }}">
                        Explore Collection
                        <i class="fa-solid fa-arrow-right walkin-pets__button-arrow"></i>
                    </a>
                </div>
                <div class="glide__collection-header">
                    <h3 class="glide__title">{{ collection.title }}</h3>
                    <span class="glide__price">({{ collection.all_products_count }})</span>
                </div>
                <a class="glide__collection-link" href="{{ collection.url }}">View collection</a>
              </a>
            </li>
          {% endfor %}

          {% for product in products %}
            <li class="glide__slide">
                <div class="glide__image-container">
                  {% if product.tags contains 'low' %}
                    <span class="glide__flag red">Low Stock</span>
                  {% endif %}

                  {% if product.tags contains 'best-seller' %}
                    <span class="glide__flag white">Best Seller</span>
                {% endif %}
                    <img
                      class="glide__slide-image"
                      src="{{ product.featured_image | img_url: 'master' }}"
                      alt="Collection featured image"
                    ></img>
                    <div class="glide__variants">
                        <ul class="glide__variant-container">
                            {% for variant in product.variants %} 
                              <li onclick="swapImg(this)" class="glide__varient-color glide__varient-2" data-img="{{ variant.featured_image.src | image_url:width:800 }}" style="background-color:{{ variant.options.color }}"></li>
                              {% comment %}
                              <li onclick="swapImg(el)" class="glide__varient-color glide__varient-2">
                                <i class="fa-solid fa-check"></i>
                                {{ variant.options.color }}
                            </li>{% endcomment %}
                            {% endfor %}
                            
                            {% comment %}                             
                            {% for option in product.options_with_values %} 
                              <li class="glide__varient-color glide__varient-2">
                                {{ option.values. }}
                                {% comment %} <i class="fa-solid fa-check"></i> {% endcomment %}
                            </li>
                            {% endfor %} {% endcomment %}
                        </ul>
                    </div>

                    <a class="glide__slide-button" href="{{ product.url }}">
                        Explore Product
                        <i class="fa-solid fa-arrow-right walkin-pets__button-arrow"></i>
                    </a>
                </div>
                <div class="glide__product-header">
                    <h3 class="glide__title">{{ product.title }}</h3>
                    <span class="glide__price">£{{ product.price | money_without_currency }}</span>
                </div>
                <p class="glide__product-description">{{ product.description }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <a class="walkin-pets__button mobile" href="{{ ss.buttonLink }}">
    {{- ss.buttonText -}}
    <i class="fa-solid fa-arrow-right walkin-pets__button-arrow"></i
  ></a>
</section>

<script>
    const variant = document.querySelectorAll('.glide__varient-color')
    // let checked = `<i class="fa-solid fa-check"></i>`

    function checkItem(el) {   
            if (el.classList.contains('uncheck')) {
                el.classList.add("check");
                el.classList.remove("uncheck");
            }

            variant.forEach(element => { element.addEventListener('click', (e) => { checkItem(e.target) })})
        }
        // document.querySelector('#list').addEventListener('click', (e) => {
        //     checkItem(e.target);
        // });

    // function swapImg(){
    //     fetch(window.Shopify.routes.root + `products/${cat}.js`)
    //     .then(response => response.json())
    //     .then(product => alert('The title of this product is ' + product.title));

    //     variant.forEach(element => { element.addEventListener('click', () => { console.log(element.parentElement.parentElement.parentElement.firstElementChild.src = 'product.')})
    //     })     
    // }
    function swapImg(element){
      var get_img = element.getAttribute('data-img');
      element.closest('.glide__image-container').querySelector('.glide__slide-image').setAttribute('src',get_img);
    }
    
</script>

{% style %}
  .walkin-pets__button {
      background: {{ ss.buttonColor }};
      color: {{ ss.buttonTextColor }};
  }
  .walkin-pets__button:hover {
      background: {{ ss.buttonHoverColor }} !important;
  }
{% endstyle %}

{% schema %}
{
  "name": "Walkin' Pets",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "This is a section title..."
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Title heading size",
      "info": "Title size, refers to the hierarchy and visual importance of headings on a webpage, emphasizing the primary topic.",
      "default": 6
    },
    {
      "type": "range",
      "id": "heading_tag",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Title heading tag",
      "info": "Header tags, also known as heading tags, are used to seperate headings and subheadings on a webpage. They rank in order of importance, from H1 to H6, with H1s usually being the title. Header tags improve the readability and SEO of a webpage.",
      "default": 6
    },
    {
      "type": "inline_richtext",
      "id": "overview",
      "label": "Overview",
      "default": "Section overview. Lorem ipsum dolor sit amet. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "type": "text",
      "id": "buttonText",
      "label": "Button text",
      "default": "Explore all ranges"
    },
    {
      "type": "url",
      "id": "buttonLink",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "buttonTextColor",
      "label": "Button Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "buttonColor",
      "label": "Button color",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "buttonHoverColor",
      "label": "Button hover color",
      "default": "#6662DC"
    },
    {
      "type": "collection_list",
      "id": "collectionList",
      "label": "Collections",
      "limit": 8
    },
    {
      "type": "product_list",
      "id": "productList",
      "label": "Products",
      "limit": 12
    },
    {
      "type": "range",
      "id": "paddingTop",
      "min": 0,
      "max": 50,
      "step": 5,
      "label": "Padding Top",
      "default": 25
    },
    {
      "type": "range",
      "id": "paddingBottom",
      "min": 0,
      "max": 50,
      "step": 5,
      "label": "Padding Bottom",
      "default": 25
    }
  ],
  "presets": [
    {
      "name": "Walkin' Pets"
    }
  ],
  "tag": "section",
  "class": "walkin-pets-section"
}
{% endschema %}
