{% assign ss = section.settings %}

<section id="{{ss.sectionId}}" class="walkin-pets" style="padding: {{ ss.paddingTop }}px 3% {{ ss.paddingBottom }}px 3%;">
    {% if ss.title != blank %}     
        <h{{ ss.heading_tag }} class="walkin-pets__title h{{ ss.title_size }}">{{- ss.title | newline_to_br -}}</h{{ ss.heading_tag }}>
    {% endif %}

    <div class="walkin-pets__overviewSection">
        {% if ss.overview != blank %}
            <p class="walkin-pets__overview">{{ ss.overview }}</p>
        {% endif %}

        {% if ss.buttonTxt != blank %}
            <a class="walkin-pets__button" href="{{ ss.buttonLink }}">{{ ss.buttonTxt }}<i class="fa-solid fa-arrow-right walkin-pets__button-arrow"></i></a>
        {% endif %}
    </div>
</section>


{% schema %}
{
    "name": "Walkin' Pets",
    "settings": [
        {
            "type": "text",
            "id": "sectionId",
            "label": "Section ID"
        },
        {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title", 
            "default": "This is a section title..."
        },
        {
            "type": "range",
            "id": "title_size",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Title heading size",
            "info": "Title size, refers to the hierarchy and visual importance of headings on a webpage, emphasizing the primary topic.",
            "default": 6
        },
        {
            "type": "range",
            "id": "heading_tag",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Title heading tag",
            "info": "Header tags, also known as heading tags, are used to seperate headings and subheadings on a webpage. They rank in order of importance, from H1 to H6, with H1s usually being the title. Header tags improve the readability and SEO of a webpage.",
            "default": 6
        },
        {
            "type": "inline_richtext",
            "id": "overview",
            "label": "Overview",
            "default": "Section overview. Lorem ipsum dolor sit amet. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
        },
        {
            "type": "text",
            "id": "buttonTxt",
            "label": "Button text",
            "default": "Explore all ranges"
        },
        {
            "type": "text",
            "id": "buttonLink",
            "label": "Button link",
            "default": "#"
        },
        {
            "type": "range",
            "id": "paddingTop",
            "min": 0,
            "max": 50,
            "step": 5,
            "label": "Padding Top",
            "default": 25
        }, 
        {
            "type": "range",
            "id": "paddingBottom",
            "min": 0,
            "max": 50,
            "step": 5,
            "label": "Padding Bottom",
            "default": 25
        }
        ],
    "presets": [
        {
            "name": "Walkin' Pets"
        }
    ], 
    "tag": "section",
    "class": "walkin-pets-section"
}
{% endschema %}